<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.nekocode.hot">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".HotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${APPLICATION_ID}"
                    android:path="/"
                    android:scheme="${SCHEME}"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.${COLUMN_EXTENSION}"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.${COLUMN_EXTENSION}"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.${COLUMN_EXTENSION}"
                    android:scheme="content"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.${COLUMN_EXTENSION}"
                    android:scheme="file"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.preference.HotPreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${APPLICATION_ID}"
                    android:path="/setting"
                    android:scheme="${SCHEME}"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${FABRIC_API_KEY}"/>

    </application>

</manifest>